@import '../../global.scss';

.top{
    background-color: white;
    width:100vw;
    height:70px;
    position: fixed;
    top: 0px;
    z-index: 3;
    transition: all 1s ease;
    .wrapper{
        display: flex;
        justify-content: space-between;
        padding: 10px 30px;
        align-items: center;
        .left{
            display: flex;
            align-items: center;
            .logo{
                font-size: 40px;
                font-weight: 700;
                text-decoration: none;
                color: inherit;
                margin-right: 40px;
            }
            .item-container{
                display: flex;
                align-items: center;
                margin-left: 30px;
                .icon{
                    font-size: 18px;
                    margin-right: 5px;
                }
                span{
                    font-size: 15px;
                    font-weight: 600;
                }
            }
        }
        .right{
            .hamburger{
                width:32px;
                height:25px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                cursor: pointer;
                span{
                    height:3px;
                    width: 100%;
                    background-color: black;
                    transform-origin: left;
                    transition: all 2s ease;
                }
            }
        }
    }
    &.active{
        background-color: black;
        color: white;
        .hamburger{
            span{
                &:first-child{
                    background-color: white;
                    transform: rotate(45deg);
                }
                &:nth-child(2){
                    opacity: 0;
                }
                &:last-child{
                    background-color: white;
                    transform: rotate(-45deg);
                }
            }
        }
    }
}