@import '../../global.scss';

.port{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // gap: 50px;
    h1{
        font-size: 50px;
        padding: 0px;
        margin: 0px;
    }
    .lower-section{
        display: flex; 
        flex-direction: column;
        justify-content: center;
        align-items: center;
    ul{
        padding: 0px;
        display: flex;
        list-style: none;
        gap: 50px;
        // width: 70vw;
        @include mobile{
            gap: 20px;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
        }
        li{
            font-size: 15px;
            padding: 10px;

            &.active{
                background-color: black;
                color: white;
                border-radius: 10px;
            }
            &:hover{
                cursor: pointer;
            }
        }
    }
    .container{
        width: 70vw;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        // background-color: yellow;
        gap: 20px;
        .item{
            width: 220px;
            height: 150px;
            border: 1px solid grey;
            border-radius: 10px;
            margin: 10px 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative; // we need to give parent position-relative to make child absolute and to position it relative to parent
            transition: all 0.5s ease;
            h3{
                position: absolute;
                font-size: 20px;
                text-align: center;
            }
            img{
                height: 100%;
                width: 100%;
                object-fit: cover;
                border-radius: 10px;
                z-index: 1;
            }
            &:hover{
                cursor: pointer;
                background-color: black;
                img{
                    z-index: 0;
                    opacity:0.2;
                }
                h3{
                    color: white;
                }
            }
        }
    }
}
}