@import '../../global.scss';

.testimonials{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1{
        font-size: 50px;
    }
    .container{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;
        .card{
            width: 250px;
            height: 70%;
            display: flex;
            border-radius: 10px;
            flex-direction: column;
            box-shadow: 0px 0px 15px -8px black;
            justify-content: space-around;
            padding: 20px;
            transition: all 0.3s ease;
            &:hover{
                transform: scale(1.1);
            }
            .top1{
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0px 0px 15px 0px;
                img{
                    &.left,&.right{
                        height: 25px;
                    }
                    &.user{
                        height: 60px;
                        width: 60px;
                        border-radius: 50%;
                        object-fit: cover;
                        margin: 0 30px;
                    }
                }
            }
            .center{
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 10px;
                padding: 10px;
                background-color: rgb(240, 233, 234);
                text-align: center;
            }
            .bottom{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;

                h3{
                    margin-bottom: 5px;
                }
                h4{
                    margin: 0px;
                }
            }
        }
    }
}